<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Rocker - Bootstrap4  Admin Dashboard Template</title>
  <!--favicon-->
  <link rel="icon" href="/admin/assets/images/favicon.ico" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="/admin/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="/admin/assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="/admin/assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="/admin/assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="/admin/assets/css/app-style.css" rel="stylesheet"/>


   <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/js/jquery.min.js"></script>
  <script src="/admin/assets/js/popper.min.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>
  
   <!-- simplebar js -->
  <script src="/admin/assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- waves effect js -->
  <script src="/admin/assets/js/waves.js"></script>
  <!-- sidebar-menu js -->
  <script src="/admin/assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="/admin/assets/js/app-script.js"></script>
  
  <!-- Vector map JavaScript -->
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Sparkline JS -->
  <script src="/admin/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
  <!-- Chart js -->
  <script src="/admin/assets/plugins/Chart.js/Chart.min.js"></script>
  <!--Morris JavaScript -->
  <script src="/admin/assets/plugins/raphael/raphael-min.js"></script>
  <script src="/admin/assets/plugins/morris/js/morris.js"></script>
  <!-- Index js -->
  <script src="/admin/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
  
</head>

<body>
 <div id="wrapper">
 <%= erb :'/modules/renders/renderadmin/sidebar' %>
 <%= erb :'/modules/renders/renderadmin/heather' %>

 <%= yield %>


    <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Law Connect
        </div>
      </div>
    </footer>
  <!--End footer-->
   
 </div><!--End wrapper-->


 
  
</body>
</html>