<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Law Connect - Admin</title>
  <!--favicon-->
  <link rel="icon" href="/admin/assets/images/favicon.png" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="/admin/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="/admin/assets/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="/admin/assets/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="/admin/assets/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="/admin/assets/css/app-style.css" rel="stylesheet"/>

  <link href="/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
  <!--inputtags-->
  <link href="/admin/assets/plugins/inputtags/css/bootstrap-tagsinput.css" rel="stylesheet" />
  <!--multi select-->
  <link href="/admin/assets/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css">
  <!--Bootstrap Datepicker-->
  <link href="/admin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <!--Touchspin-->
  <link href="/admin/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">


   <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/js/jquery.min.js"></script>
  <script src="/admin/assets/js/popper.min.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>
  
   <!-- simplebar js -->
  <script src="/admin/assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- waves effect js -->
  <script src="/admin/assets/js/waves.js"></script>
  <!-- sidebar-menu js -->
  <script src="/admin/assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="/admin/assets/js/app-script.js"></script>
  
  <!-- Vector map JavaScript -->
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Sparkline JS -->
  <script src="/admin/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
  <!-- Chart js -->
  <script src="/admin/assets/plugins/Chart.js/Chart.min.js"></script>
  <!--Morris JavaScript -->
  <script src="/admin/assets/plugins/raphael/raphael-min.js"></script>
  <script src="/admin/assets/plugins/morris/js/morris.js"></script>
  <!-- Index js -->
  <script src="/admin/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
  <script src="/admin/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
  
  <script src="/admin/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js"></script>
  <script src="/admin/assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js"></script>

  <!--Select Plugins Js-->
  <script src="/admin/assets/plugins/select2/js/select2.min.js"></script>
  <!--Inputtags Js-->
  <script src="/admin/assets/plugins/inputtags/js/bootstrap-tagsinput.js"></script>

  <!--Bootstrap Datepicker Js-->
  <script src="/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

  <script src="/assets/plugins/jquery-multi-select/jquery.multi-select.js"></script>
  <script src="/assets/plugins/jquery-multi-select/jquery.quicksearch.js"></script>
</head>

<body>
 <div id="wrapper">

 <%= yield %>


 </div><!--End wrapper-->

</body>
</html>