<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-lg-6">
        <div class="card" style="padding: 20px;">
          <br/><br/>
          <form action="/admin/secure/acces" name="edituser" action="GET" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" name="email" type="email" placeholder="Email" >
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
              <div class="col-lg-9">
                <input class="form-control" name="password" type="password" placeholder="Contraseña" >
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Ingresar">
              </div>
            </div>
            
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>