<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card">
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
          <br/><br/>
          <form id="edituser" name="edituser" action="POST" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
              <div class="col-lg-9">
                <input class="form-control" name="nombre" type="text" placeholder="Nombre" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
              <div class="col-lg-9">
                <input class="form-control" name="apellidos" type="text" placeholder="Apellidos">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" name="email" type="email" placeholder="Email" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Avatar</label>
              <div class="col-lg-9">
                <input class="form-control" name="avatar" type="file">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Celular</label>
              <div class="col-lg-9">
                <input class="form-control" name="celular" type="text"  placeholder="Celular">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Teléfono</label>
              <div class="col-lg-9">
                <input class="form-control" name="telefono" type="text" placeholder="Teléfono">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Extención</label>
              <div class="col-lg-9">
                <input class="form-control" name="ext" type="text" placeholder="Extención">
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Cédula</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" name="cedula" placeholder="Cédula"></input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Alma mater</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" name="almamater" placeholder="Alma mater"></input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Escolaridad</label>
              <div class="col-lg-9">
                <select name="escolaridad" id="escolaridad" class="form-control">
                  <option value="1">Universitario</option>
                  <option value="2">Universitario con diplomados</option>
                  <option value="3">Maestria</option>
                  <option value="4">Doctorado</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Categorías</label>
              <div class="col-lg-9">
                <div class="form-group">
                  <select class="form-control multiple-select" multiple="multiple" name="especialidades[]">
                    <% @categorias.each do |categoria| %>
                      <option value="<%= categoria[:title]%>"><%= categoria[:title]%></option>          
                    <%end%>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Currículum</label>
              <div class="col-lg-9">
                <textarea class="form-control" name="curriculum" placeholder="Currículum"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Acerca de mí</label>
              <div class="col-lg-9">
                <textarea class="form-control" name="acerca_de_mi" placeholder="Acerca de mí"></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
              <div class="col-lg-9">
                <input class="form-control" name="password" type="password" placeholder="Contraseña" >
              </div>
            </div>
            <hr>
            
          </form>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
              <input type="button" class="btn btn-primary" value="Guardar Cambios" onclick="sendFormUser();">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('.multiple-select').select2();
      $('.select2-search__field').attr('name','categoriasx');
  });

  function sendFormUser(){
    var element = document.getElementById('edituser');
    console.log(element);
    var formData =  new FormData(element);
    console.log(formData);

    var url = "https://access-point-law-connect.herokuapp.com/admin/create_abogado";

      fetch(url, {
      method: 'POST',
      body: formData
      })
      .then(function (response) {
        if(response.ok) {
            response.blob().then(function(miBlob) {
               window.location.reload();
            });
          } else {
            console.log('Error al enviar');
          }
      })
      .catch(function(error) {
          window.location.reload();
      });
  }

</script>