<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,600,800' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LEGAL CONNECT</title>
    <meta name="description" content="Encuentra asesoría en derecho fiscal y laboral de acuerdo a tus necesides">
    <meta name="author" content="Pixininja">
    <link rel="stylesheet" href="proximamente/css/bootstrap.min.css">
    <link rel="stylesheet" href="proximamente/css/font-awesome.min.css">
    <link rel="stylesheet" href="proximamente/css/slick.css">
    <link rel="stylesheet" href="proximamente/css/main.css">
    <link rel="shortcut icon" href="proximamente/img/logo2.png">
    <!--[if gte IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".main-nav">
    <!--Main Header-->
    <header class="main-header" id="home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            
            <!--logo-->
            <div class="logo"> <a href=""><img src="proximamente/img/logo.png" alt="cloud"></a></div>
            <!--logo end-->
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="head-hero" style="margin-bottom: 30px; text-align: center;">
              <!--welcome message-->
              
              <h1 style="text-shadow: 4px 4px 12px rgba(100, 100, 100, 0.5); font-size: 60px;" >LEGAL CONNECT</h1> <span style="width: 100%; font-size: 20px; line-height: 20px; color: #ffF; font-weight: 300; text-shadow: 4px 4px 12px rgba(100, 100, 100, 0.5); text-align: center;">Encuentra <b style="font-weight: 600;">asesoría Legal y Fiscal de acuerdo a tus necesidades</b> y <b style="font-weight: 600;">agenda hoy un cita sin costo.</b></span>
              <ul class="social" style="margin-top: 35px;" >
                <li style="width: 300px; margin-top: 35px;"><a href="http://onelink.to/t8ef3t" target="_blank" style="width: 300px;" > Descarga para iOS y Android <i class="fa fa-android" style="padding: 0px 5px;"></i><i class="fa fa-apple"> </i></a></li>
                
              </ul>
              
              <!--welcome message end-->
              
              <!--Subscription Form-->
              <!--  <div class="subscribe">  -->
              
              <!--sub-form-->
              <!-- div class="sub-form">
              <form role="form" id="mc-form" action="http://test.us3.list-manage1.com/subscribe/post-json?u=9666c25a337f497687875a388&amp;id=fa41845374&amp;c=?">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address" required value="" name="EMAIL">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default button" id="mc-subscribe" value="Subscribe" name="subscribe">Request Invite</button>
                  </span> </div>
                </form>
                <p id="mc-notification"></p>
              </div> -->
              <!--sub-form end-->
              
              <!--  </div> -->
              <!--Subscription Form end-->
              
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1 visible-md visible-lg over-hide"> <img src="proximamente/img/iphone.png" alt="App Image" class="hero-img"> </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            
            
          </div>
        </div>
      </div>
    </header>
    <!--Main Header end-->
    <!--main navigation-->
    <nav role="navigation" class="main-nav visible-sm visible-md visible-lg">
      <ul class="nav">
        <li><a href="#home" class="text-hide" title="Home" data-placement="left">HOME</a></li>
        <li><a href="#features" class="text-hide" title="Features" data-placement="left">FEATURES</a></li>
        <li><a href="#team" class="text-hide" title="Team" data-placement="left">TEAM</a></li>
        <li><a href="#contact" class="text-hide" title="Contact" data-placement="left">CONTACT</a></li>
      </ul>
    </nav>
    <!--main navigation end-->
    <!--Features-->
    <section class="features section-spacing" id="features">
      <div class="container">
        <h2 class="text-center">¿Qué esperar?</h2>
        
        <!--features slider-->
        <div class="features-slider">
          
          <!--features content 1-->
          
          <div>
            <div class="row">
              <div class="col-md-7">
                <!--app features container-->
                <div class="features-container">
                  <div class="app-features row">
                    <div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-3 text-center"><img src="proximamente/img/icon-1.png" alt="App Features"></div>
                    <div class="col-md-8 col-sm-9 col-xs-9">
                      <h4>Busca a un abogado de acuerdo con tus necesidades</h4>
                      <p>Contamos con un amplio equipo de especialistas en materia laboral y fiscal para resolver cualquier problemática que tengas ¡Busca y encuentra a tu abogado ideal!</p>
                    </div>
                  </div>
                  <div class="app-features row">
                    <div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-3 text-center"><img src="proximamente/img/icon-2.png" alt="App Features"></div>
                    <div class="col-md-8 col-sm-9 col-xs-9">
                      <h4>Agenda una cita GRATIS</h4>
                      <p>Una vez que lo hayas encontrado, agenda una primera cita para conocer si en realidad es lo que buscas, puede ser llamada, video llamada o presencial ¡SIN COSTO!</p>
                    </div>
                  </div>
                  <div class="app-features row">
                    <div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-3 text-center"><img src="proximamente/img/icon-3.png" alt="App Features"></div>
                    <div class="col-md-8 col-sm-9 col-xs-9">
                      <h4>Seguimiento personalizado de tus casos</h4>
                      <p>En cuanto comencemos a trabajar juntos, podrás dar un seguimiento personalizado y en tiempo real a tus casos con nuestra aplicación.</p>
                    </div>
                  </div>
                </div>
                <!--app features container end-->
                
              </div>
              <div class="col-md-5 text-center"> <img src="proximamente/img/feature-1.png" alt="App Feature img"> </div>
            </div>
          </div>
          
          <!--features content 1 end -->
          
          
          
        </div>
        <!--features slider end-->
        
      </div>
    </section>
    <!--Features end-->
    <!--team-->
    <section class="team text-center section-spacing" id="team">
      <div class="container">
        <h2>Algunos de nuestros expertos</h2>
        <div class="row">
          <div class="team-slider">
            
            <!--team-->
            
            <div>
              <h3>Lic. Miguel Ángel Salazar</h3>
              <figure class="team-details"> <img src="proximamente/img/team-img/team-1.jpg" alt="team">
                <figcaption ">
                <p style="margin-top: -10px;">Abogado Sr.</p>
                <p>Amplia <b>experiencia en la elaboración, seguimiento y conclusión de demandas y revisión de contratos</b> en materia <b>civil, familiar y mercantil</b>. Su efectividad es del <b>80% en la obtención de sentencias favorables</b> de los casos atendidos.</p>
                </figcaption>
              </figure>
              
            </div>
            
            <!--team end-->
            
            <!--team-->
            
            <div>
              <h3>Lic. Mayra Cortés</h3>
              <figure class="team-details"> <img src="proximamente/img/team-img/team-2.jpg" alt="team">
                <figcaption>
                <p style="margin-top: -15px;">Abogado Sr.</p>
                <p><b>Especialidad en derecho Fiscal y Tributario</b>, cuenta con los <b>conocimientos sólidos, experiencia y técnica en litigación de juicios de amparo</b> para que usted <b>obtenga la protección de la justicia federal de aquellos derechos que alega le han sido violados.</b></p>
                </figcaption>
              </figure>
              
            </div>
            
            <!--team end-->
            
            <!--team-->
            
            <div>
              <h3>Lic. Alejandro Romero</h3>
              <figure class="team-details"> <img src="proximamente/img/team-img/team-3.jpg" alt="team">
                <figcaption>
                <p style="margin-top: -5px;">Abogado Sr.</p>
                <p>Experto en <b>derecho Corporativo</b>, cuenta con una amplia experiencia en <b>Regulación, Cultura Financiera, Registro de Marcas y propiedad Intelectual, constitución de sociedades.</b></p>
                </figcaption>
              </figure>
              
            </div>
            
            <!--team end-->
            
            
            
            
            
          </div>
        </div>
      </div>
    </section>
    <!--team end-->
    <!-- contact-->
    <section class="contact section-spacing" id="contact">
      <h2 class="text-center">Contáctanos</h2>
      <h5 class="text-center">Agenda hoy mismo una consultoría presencial o telefónica SIN COSTO</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 center-block">
            
            <!--Contact form-->
            <div id="form-messages"></div>
            <form class="contact-form text-center" id="akaFORM">
              <div class="form-group">
                <input class="form-control" type="text" name="name" id="name" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="phone" id="phone" placeholder="Teléfono de contacto" required>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" id="message"  rows="4" placeholder="Mensaje" required></textarea>
              </div>
            </form>
             <button type="submit" class="btn btn-default button" onclick="sendCOntact();">Enviar</button>

            <!--Contact form end-->
            
          </div>
        </div>
      </div>
    </section>
    <!-- contact end-->
    <!--site-footer-->
    <footer class="site-footer section-spacing">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
            <h3>Encuéntranos</h3>
            <!--social-->
            
            <ul class="social">
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            
            <!--social end-->
            
          <small>&copy; LEGAL CONNECT. Derechos Reservados.</small> </div>
        </div>
      </div>
    </footer>
    <!--site-footer end-->
    <script src="proximamente/js/jquery-1.11.1.min.js"></script>
    <script src="proximamente/js/bootstrap.min.js"></script>
    <script src="proximamente/js/slick.min.js"></script>
    <script src="proximamente/js/main.js"></script>
  </body>
</html>

<script type="text/javascript">
  function sendCOntact(){
    var element = document.getElementById('akaFORM');
    console.log(element);
    var formData =  new FormData(element);
    console.log(formData);

      fetch("http://127.0.0.1:9393/mailer", {
      method: 'POST',
      body: formData
      })
      .then(function (response) {
        if(response.ok) {
            response.blob().then(function(miBlob) {
                alert('Formato enviado correctamente pronto lo contactarémos');
                document.getElementById("akaFORM").reset();
            });
          } else {
            console.log('Error al enviar');
          }
      })
      .catch(function(error) {
        alert('Formato enviado correctamente pronto lo contactarémos');
        document.getElementById("akaFORM").reset();
      });
  }

</script>